<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sárkányok és hercegnők</title>
</head>
<body>

<table>
    <tr>
        <th>Metódus</th>
        <th>URL</th>
        <th>HercegnőkÉsSarkanyok</th>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/hercegnok">/hercegnok</a></td>
        <td>Hercegnők listája</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/hercegnok/1">/hercegnok/{id}</a></td>
        <td>Egy hercegnő</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/hercegnok/1/sarkanyok">/hercegnok/{id}/sarkanyok</a></td>
        <td>Egy hercegnőt melyik sárkány rabolt el</td>
    </tr>
    <tr>
        <td>POST</td>
        <td>/hercegnok</td>
        <td>Új hercegnő létrehozása</td>
    </tr>
    <tr>
        <td>DELETE</td>
        <td>/hercegnok/{id}</td>
        <td>Hercegnők törlése</td>
    </tr>
</table>

</body>
</html>